body {
	background-color:#333333;
	font-size:10pt;
	font-family:Arial;
	margin:0;
	padding:0;
	color: #FFFFFF
}

#page {
	width: all;
	background-color: white;
}

#header {
	background-color: red;
	margin: auto;
	position: relative;
	clear: both;
	width:all;
	height:105px;
	padding-left:45px;
	padding-top:55px;
}

#nav {
	width: 230px;
	height: 686px;
	background-color:black;
	margin: 0;
}

#sidebar ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

#user{
	text-align: center;
	padding-top: 30px;
}

#sidebar a{
	width:215px;
	height:25px;
	display:block;
	clear:both;
	padding-left:15px;
	padding-top:6px;
	color:#FFFFFF;
	font-size:20px;
	font-weight:bold;
	background-color:none;
	margin-top:3px;
	text-align:left;
 }


#sidebar a:hover, #nav a.active {
	background-color:#5b5b5b;
	text-decoration:none;
	color:#FFFFFF;
}


#contentarea {
	width: 1093px;
	height: 651px;
	padding-left:20px;
	padding-bottom:20px;
	float:left;
	line-height:14pt;
	padding-top:15px;
	background-color: grey;
}

#sidebar {
	float:left;
	width:230px;
	line-height:14pt;
	color:#FFFFFF;
	margin-top: -16px;
}

#footer {
	clear:both;
	width:all;
	height:54px;
	margin: auto;
	padding-top:25px;
	text-align:center;
	line-height:14pt;
	background-color: red;
	text-decoration-color:#FFFFFF;
	text-align: center;
}

h1, h1 a {
	font-size:25pt;
	color:#FFFFFF;
	margin:0;
}

h2 {
	font-size:15pt;
	color:#FFFFFF;
	padding-top:6px;
}

#logo {
	float: right;
	position: absolute;
	margin-top: -85px;
	margin-left: -30px;
}

#sidebar h2 {
	font-size:15pt;
	padding-left:10px;
	color:#FFFFFF;
}

.description {
	font-size:14pt;
	color:#FFFFFF;
}

a {
	color:#0dcae8;
	text-decoration:none;
}

#sidebar a{
	color:#FFFFCC;
}

a:hover {
	text-decoration:underline;
}
